<div class="container bg-light shadow"
     style="margin-top: 10%; font-family: Bahnschrift, serif; border-radius: 15px 50px;">
  <div class="pt-3 pb-3 my-auto mx-auto text-center">
    <h3 class="text-green-primary">
<!--      Download, upload datasets and many more features! What are you waiting for?-->
	<!-- Dataset visualization tool of Empower 2.0 -->
	{{CMSContent["LANDING_TITLE"]}}
	<!-- {{ CMSData.find((cms: CMS) => cms.location === HOME_TITLE)}} -->
    </h3>
    <p>
      <!-- <b>EMPOWER 2.0</b> is the abbreviation of Empowering the citizens - Towards European Energy Market 2.0 (Enabling More
	  People’s Ownership in Energy transition). -->
	  {{CMSContent["LANDING_INFO"]}}

      <!-- The project aims to demonstrate and accelerate the empowerment of citizens to become active energy citizens - and
      to create local energy communities via existing civil society structures - through development of new solutions
      (e.g. organisational) and adoption of new, emerging and existing solutions for energy ownership. This will lead to
      an increase of energy awareness and renewable energy production, and hence reduce the environmental footprint in
      the North Sea Region. -->
    </p>
    <button class="btn btn-primary text-white mt-2" style="font-size: 140%"
            routerLink="/homepage">{{CMSContent["LANDING_BUTTON"]}}</button>
  </div>
</div>
