<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formElement="ngForm" (keydown.enter)="$event.preventDefault()">
          <div class="form-row">
            <label for="firstnameInput">Firstname:</label>
            <input
              required minlength="2"
              type="text"
              name="firstnameInput"
              class="form-control"
              id="firstnameInput"
              placeholder='Firstname'
              ngModel>
          </div>
        </form>
      </div>
      <div class="modal-body">
        <form #formElement="ngForm" (keydown.enter)="$event.preventDefault()">
          <div class="form-row">
            <label for="lastnameInput">Lastname:</label>
            <input
              required minlength="2"
              type="text"
              name="lastnameInput"
              class="form-control"
              id="lastnameInput"
              placeholder='Lastname'
              ngModel>
          </div>
        </form>
      </div>
      <div class="modal-body">
        <form #formElement="ngForm" (keydown.enter)="$event.preventDefault()">
          <div class="form-row">
            <label for="nationalityInput">Nationality:</label>
            <input
              required minlength="2"
              type="text"
              name="nationalityInput"
              class="form-control"
              id="nationalityInput"
              placeholder='Nationality'
              ngModel>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" [disabled]="formElement.invalid">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
