input#firstNameInput {
  margin-bottom: 7px;
}

input#surNameInput {
  margin-bottom: 7px;
}

input#emailInput {
  margin-bottom: 7px;
}

input#firstNameInput {
  margin-bottom: 7px;
}

input#passwordInput {
  margin-bottom: 7px;
}
