.dataList {
  max-height: 80vh;
  overflow: auto;
}

.p1 {
  margin-bottom: 7px;
}

span.row.mx-1.align-middle {
  margin: 5px 0px;
}

#noDatasetMessage {
  border: none;
}

#selectOrg {
  margin-bottom: 7px;
}

#searchEmailFilter {
  margin-top: 7px;
}

#amountOfMembers {
  margin-bottom: 7px;
}

button#addMemberButton {
  margin-right: 0.5rem !important;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

button#createMemberButton {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
