<app-create-user-popup *ngIf="createIsClicked" (savedUser)="createRequest($event)" (closed)="createPopUpIsClosed($event)">
</app-create-user-popup>
<app-edit-user-popup *ngIf="editIsClicked" (savedUser)="saveRequest($event)" (closed)="editPopUpIsClosed($event)"
	[editingUser]="selectedUser"></app-edit-user-popup>

<div class="row">
	<!-- <div class="card w-100 mb-3">
    <div class="card-header">
      <div class="row" style="height:38px">
        <p class="pl-3 card-title my-auto">
          User filter
        </p>
      </div>
    </div>
    <div class="card-body">
      <label for="userSearchFilter">Search</label>
      <input id="userSearchFilter" type="text" class="form-control" [(ngModel)]="searchFilter"
             (ngModelChange)="checkIfListEmpty()">
    </div>
  </div> -->
	<div class="card w-100">
		<div class="card-header">
			<div class="row">
				<p class="pl-3 card-title my-auto">
					Users
				</p>
				<span class="ml-auto mr-3 btn-group">
					<button class="btn btn-primary" id="createUserButton" data-target="#createUserModal"
						(click)="onCreateButtonClick()" data-toggle="modal">
						<i class="fa fa-plus fa-lg"></i>
					</button>
				</span>
				<input id="userSearchFilter" type="text" class="form-control mt-3" [(ngModel)]="searchFilter"
             (ngModelChange)="checkIfListEmpty()" placeholder="Search">
			</div>
		</div>
		<ul class="userList list-group list-group-flush">
			<li class="list-group-item p-2 pl-3" *ngIf="!this.aUserService.getUsers()">
				<span class="row mx-1 align-middle">
					<p class="my-auto">No users available</p>
				</span>
			</li>

			<li class="admin-user-item list-group-item p-2 pl-3"
				*ngFor="let user of this.aUserService.getUsers() | searchUserArray: [searchFilter]; index as index">
				<span class="row mx-1 align-middle">
					<p class="my-auto mw-100 text-truncate col-md-9 col-lg-7" data-toggle="tooltip" data-placement="top" title="{{user.email}}">{{user.email}}</p>
					<span class="btn-group crud-btn-group col-md-3 col-lg-5">
						<button class="btn btn-primary" (click)="onEditClick(index)" data-toggle="modal"
							data-target="#editModal">
							<i class="fa fa-edit fa-lg"></i>
						</button>

						<button class="btn btn-danger" (click)="onDeleteClick(user)">
							<i class="fa fa-trash fa-lg"></i>
						</button>
					</span>
				</span>
			</li>
		</ul>
	</div>
</div>
